html {
  height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(180deg, #FDFDB8 47.92%, rgba(138, 195, 143, 0.00) 100%) !important;
}

a {
    text-decoration: none;
}

.background-white {
  background: white !important;
}

.background-off-white {
    background: #E9E9E9 !important;
}

.btn-color-primary {
    background: #597D0A;
    color: white;
}

.btn-color-secondary {
    background: #898A86;
    color: white;
}

.btn-color-success {
    background: #5DA600;
    color: white;
 }

.register-logo {
    width: 400px;
}

hr {
  border-color: black !important; /* black color */
  border-width: 2px !important; /* 4px thick border */
  border-style: solid; /* solid border style */
  margin-top: 20px; /* 3px margin on top */
  margin-bottom: 20px; /* 3px margin on bottom */
}