{% extends 'base.html' %}
{% load static %}

{% block title %}
Add Course Content
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-center">
        <a href="{% url 'home'%}" class="fs-2">Courses</a> <span class="fs-2 mx-2">></span>
        <a href="{% url 'course_detail' course.id %}" class="fs-2">{{ course.name }}</a> <span
            class="fs-2 mx-2">></span>
        <a href="{% url 'section_detail' courseid=course.id sectionid=section.id %}" class="fs-2">{{ section.name }}</a> <span
            class="fs-2 mx-2">></span>
        <span class="fs-2 fw-bold">New Content</span>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="role" value="{{ role }}"/>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="content_type">Content Type:</label>
            <select id="content_type" name="content_type" onchange="updateFileAccept()" required>
                <option value="">Select Content Type</option>
                <option value="pdf">Pdf</option>
            </select>
        </div>
        <div id="fileInputDiv" style="display:none">
            <label for="file">File:</label>
            <input type="file" id="file" name="file">
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}
{% block script %}
    <script>
        function updateFileAccept() {
        var contentSelect = document.getElementById('content_type');
        var fileInput = document.getElementById('file');
        var fileInputDiv = document.getElementById('fileInputDiv');
    
        // Get the selected option
        var selectedOption = contentSelect.options[contentSelect.selectedIndex].value;
    
        // Update the accept attribute based on the selected option
        if (selectedOption === 'pdf') {
            fileInput.accept = '.pdf';
            fileInputDiv.style.display = 'block';
        } else {
            fileInputDiv.style.display = 'none';
        }
        }
    </script>
{% endblock %}