{% extends 'base.html' %}
{% load static %}

{% block title %}
Add Course Content
{% endblock %}

{% block content %}
<div class="d-flex flex-row align-items-center">
    <a href="{% url 'home'%}" class="fs-2">Courses</a> <span class="fs-2 mx-2">></span>
    <a href="{% url 'course_detail' course.id %}" class="fs-2">{{ course.name }}</a> <span
        class="fs-2 mx-2">></span>
    <a href="{% url 'course_navigation' courseid=course.id %}" class="fs-2">{{ section.name }}</a> <span
        class="fs-2 mx-2">></span>
    <span class="fs-2 fw-bold">New Content</span>
</div>

<div class="d-flex flex-row justify-content-center mt-5">

    <form method="post" enctype="multipart/form-data"
          class="background-white p-5 rounded-3 d-flex flex-column w-50 shadow-lg">
        {% csrf_token %}
        <input type="hidden" name="role" value="{{ role }}"/>
        <input type="text" id="name" name="name" required class="form-control form-control-lg mt-3 shadow-sm" required placeholder="Name">
        <select id="content_type" name="content_type" onchange="updateFileAccept()" required class="form-control form-control-lg mt-3 shadow-sm">
            <option value="">Select Content Type</option>
            <option value="pdf">Pdf</option>
        </select>

        <input type="file" id="file" name="file" class="form-control form-control-lg mt-3 shadow-sm">
        <input type="submit" value="Save" class="btn btn-sm rounded-pill px-5 py-2 btn-color-primary mt-3 shadow-sm fs-5">
    </form>
</div>
{% endblock %}
{% block script %}
<script>
        function updateFileAccept() {
        var contentSelect = document.getElementById('content_type');
        var fileInput = document.getElementById('file');
        var fileInputDiv = document.getElementById('fileInputDiv');
    
        // Get the selected option
        var selectedOption = contentSelect.options[contentSelect.selectedIndex].value;
    
        // Update the accept attribute based on the selected option
        if (selectedOption === 'pdf') {
            fileInput.accept = '.pdf';
            fileInputDiv.style.display = 'block';
        } else {
            fileInputDiv.style.display = 'none';
        }
        }


</script>
{% endblock %}