{% extends 'base.html' %}
{% load static %}

{% block title %}
Course Detail
{% endblock %}

{% block content %}
<h1>
    <a href="{% url 'home'%}">Courses</a> >
    <a href="{% url 'course_detail' course.id %}">{{ course.name }}</a> >
    New Section
</h1>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="course_id" value="{{ course.id }}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
    </div>
    <input type="submit" value="Save">
</form>
{% endblock %}
