{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home-student.css' %}" rel="stylesheet">
</head>
<body class="p-4">
<div class="d-flex w-100 justify-content-between py-4 row g-0">
    <div class="d-flex flex-row align-items-center col-md-6 justify-content-between">
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/Eduhub-4 2.png' %}" class="home-page-logo"></a>
        </div>
        <div class="fs-2 fw-bold">
            Hello, {{ user_profile.user.username }}
        </div>
    </div>
    <div class="d-flex flex-row align-items-center col-md-6 justify-content-end">
        <input type="button" value="Profile" onclick="location.href='/profile'"
               class="btn-color-primary btn rounded-pill px-5 py-2 me-3">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" class="btn btn-color-secondary rounded-pill px-5 py-2">
        </form>
    </div>
</div>
<hr>
{% block content %} {% endblock %}
{% bootstrap_javascript %}
{% block script %} {% endblock %}
</body>