{% extends 'base.html' %}
{% load static %}

{% block title %}
New Course
{% endblock %}

{% block content %}

<div class="d-flex flex-row justify-content-center mt-5">
    <form method="POST" action="{% url 'create_course' %}" class="background-white p-5 rounded-3 d-flex flex-column">
        {% csrf_token %}
        <!-- Title field -->
        <input type="text" id="name" name="name" class="form-control form-control-lg mt-3" required placeholder="Course Name">
        <!-- Description field -->
        <textarea id="description" name="description" rows="4" cols="50" class="form-control form-control-lg mt-3" required placeholder="Description"></textarea>

        <!-- Membership level selector -->
        <label for="membership_level_required" class="mt-3">Membership Level Required:</label>
        <select id="membership_level_required" name="membership_level_required" required class="form-control form-control-lg mt-2">
            <option value="bronze">bronze</option>
            <option value="silver">silver</option>
            <option value="gold">gold</option>
        </select><br><br>

        <!-- User ID as a hidden field -->
        <input type="hidden" name="user_id" value="{{ user_id }}">

        <!-- Submit button -->
        <input type="submit" value="Create Course" class="btn rounded-pill px-5 py-2 btn-color-primary mt-2 fs-5">
    </form>
</div>

{% endblock %}