<!DOCTYPE html>
<html>
<head>
    <title>Course Navigator</title>
</head>
<body>
<div class="course-navigation">
    <!-- navigation.html -->
<div> Welcome to the Course {{ course.name }} by {{ course.instructor }}</div>
<ul>
  {% for section in sections %}
    <li>
    <a href="#section{{ section.id }}">{{ section.name }}</a>


        <p>{{ section.description }}</p>

        {% for content in contents %}
             {% if content.content_type == 'pdf' %}
                 <a href="{{ content.filepath.url }}" target="#" download>View PDF  </a> <br>


             {% elif content.content_type  == 'video' %}
                 <a href="{{ content.filepath.url }}" target="#">View Video</a><br>
             {% elif content.content_type == 'txt' %}

             {% endif %}
        {% endfor %}
    </li>
   {% endfor %}
</ul>


</div>
</body>
</html>