{% extends 'base.html' %}
{% load static %}

{% block title %}
Course Detail
{% endblock %}

{% block content %}
<div class="p-4">
    {% if user_profile.role.name == 'student' %}
    <div class="unregistered-course-information-banner w-100 p-4 rounded-4 d-flex flex-column align-items-center"
         style="background: white;">
        <div class="unregistered-course-information-banner-title fs-2 fw-bold">{{ course.name }}</div>
        <div class="unregistered-course-information-banner-body d-flex my-4 align-self-start">
            <div class="unregistered-course-information-banner-body-profile d-flex flex-column align-items-center me-4">
                <div class="unregistered-course-information-banner-body-profile-pic">
                    <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                </div>
                <div class="unregistered-course-information-banner-body-profile-name">
                    {{ course.instructor }}
                </div>
            </div>
            <div class="unregistered-course-information-banner-description">
                {{ course.description }}
            </div>
        </div>
        {% if not enrollments %}
        <input type="button" onclick="location.href='/enrollCourse.do?courseId={{ course.id }}'" value="Add"
               class="btn-color-primary btn rounded-pill px-5 py-2 me-3">
        {% else %}
        <input type="button" onclick="location.href='{% url 'course_navigation' courseid=course.id%}'" value="Continue"
               class="btn-color-primary btn rounded-pill px-5 py-2 me-3">
        <input type="button" onclick="location.href='/dropCourse.do?courseId={{ course.id }}'" value="Drop"
               class="btn-color-primary btn rounded-pill px-5 py-2 me-3 my-2">
        {% endif %}
    </div>
    {% endif %}

    <div>
        {% if user_profile.role.name == 'teacher' %}
        <h1>
            <a href="{% url 'home'%}">Courses</a> >
            <span>{{ course.name }}</a>
        </h1>
        <form method="post">
            {% csrf_token %}
            {% if course.published == False %}
            <input type="submit" name="publish" value="Publish">
            {% endif %}
        </form>
        <div class="background-white p-4 rounded-4 shadow">
            <div class="fw-bold fs-4">Course Overview:</div>
            <div class="mt-4 fs-5">
                {{ course.description }}
            </div>
            <div class="mt-4 fw-bold fs-4">Membership Required:</div>
            <div class="fs-5">{{ course.membership_level_required.name|capfirst }}</div>
            <div class="mt-4 fw-bold fs-4">Published:</div>
            <div class="fs-5"> {{ course.published|yesno:"Yes,No" }}</div>
        </div>

        <div class="background-white rounded-4 shadow mt-4 pb-4">
            <div class="fw-bold fs-4 p-4">Course Details</div>

            <div>
                {% for section in sections %}
                <a href="{% url 'section_detail' courseid=course.id sectionid=section.id role=user_profile.role.name %}"
                   class="border-bottom py-2 px-4 d-flex flex-row align-items-center justify-content-between">
                    {{ section.name }}
                    <img src="{% static 'images/RightArrow.png' %}" class="right-arrow">
                </a>
                {% empty %}
                <p>No contents found</p>
                {% endfor %}
            </div>

        </div>

        <div class="d-flex flex-row justify-content-center">
            <a href="{% url 'add_section' courseid=course.id %}">
                <button class="btn rounded-pill px-5 py-2 btn-color-primary mb-3 mt-5 fs-5">Add Section</button>
            </a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
