{% extends 'base.html' %}
{% load static %}
{% block title %}
Course Navigator
{% endblock %}
{% block content %}
<style>


</style>
<div class="fs-2 fw-bold d-flex justify-content-center">{{ course.name }}</div>
<div class="d-flex  justify-content-around fs-3">{{progress}}% Completed</div>
<div class="progress my-2">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100"></div>
</div>

<div class="main-container my-4">
    <div class="d-flex px-2">
        <div class="course-navigation rounded-4 w-25 me-2" style="background: white; min-height:100%; height:100%;">
            <div>
                {% for section, contents in sections.items %}
                <div>
                    <div class="p-3 border-bottom fs-4 fw-bold">{{section}}</div>
                    <div class="mx-2 p-2 fs-5">
                        {% for content in contents %}
                        <div class="p-2">
                            <a href="{% url 'course_navigation_content' courseid=course.id coursecontentid=content.id %}"
                               class="d-flex flex-row align-items-center justify-content-between">
                                {{ content.name }}
                                <img src="{% static 'images/RightArrow.png' %}" class="right-arrow">
                            </a>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="content rounded-4 ms-2 p-2 w-75" style="background: white;">
            <div class="pdf-viewer" id="pdf-viewer"></div>
            {% if courseProgress.status is not True %}
            <div class="d-flex flex-column align-items-center mt-2">
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Mark as Complete"
                           class="btn-color-primary btn rounded-pill px-5 py-2 me-3">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <script>
    var courseContentId = "{{ coursecontent.id }}";
    
    function renderPDF(pdfUrl) {
    const pdfViewerContainer = document.getElementById('pdf-viewer');

    // PDF.js viewer options
    const options = {
      showSidebar: false,
      showToolbar: false,
    };

    // Initialize PDF.js
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js';

    // Load and render the PDF
    pdfjsLib.getDocument(pdfUrl).promise.then(function(pdfDoc) {
        for (let pageNum = 1; pageNum <= pdfDoc.numPages; pageNum++) {
        pdfDoc.getPage(pageNum).then(function(page) {
            const pdfCanvas = document.createElement('canvas');
          pdfViewerContainer.appendChild(pdfCanvas);
          const pdfCanvasContext = pdfCanvas.getContext('2d');
          
          var scrollbarWidth = 20;
          // Get the dimensions of the container
          const containerWidth = pdfViewerContainer.clientWidth - scrollbarWidth;
          const containerHeight = pdfViewerContainer.clientHeight;

          // Get the original dimensions of the PDF page
          const viewport = page.getViewport({ scale: 1 });
          const pageWidth = viewport.width;
          const pageHeight = viewport.height;

          // Calculate the scale ratio to fit the page width within the container
          const scale = (containerWidth) / pageWidth;

          // Set the canvas dimensions based on the scaled page
          pdfCanvas.width = containerWidth;
          pdfCanvas.height = pageHeight * scale; // Maintain the original height


          // Set the render context with the new scaled dimensions
          const renderContext = {
            canvasContext: pdfCanvasContext,
            viewport: page.getViewport({ scale: scale }),
          };

          // Render the page
          page.render(renderContext);
        });
      }
    });
  }
    // Make a request to your API endpoint with the courseContentId
    fetch(`/course/content/${courseContentId}`)
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Error fetching PDF file');
            }
            return response.blob();
        })
        .then(function(blob) {
            // Create a URL object from the blob data
            var pdfUrl = URL.createObjectURL(blob);
            renderPDF(pdfUrl);
        })
        .catch(function(error) {
            console.error(error);
            // Handle the error case
        });



    </script>
    {% endblock %}

