{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center">
<div class="w-50 p-5 register-form-container shadow rounded-3">
    <div class="w-100 d-flex flex-column align-items-center">
        <h2>Forgot Password?</h2>
        <form method="post">
            {% csrf_token %}
            <input type="email" name="email" id="email" class="form-control form-control-lg shadow mt-2"
                   placeholder="Email">
            <br>
            <input type="submit" value="Reset Password" class="btn rounded-pill px-5 py-2 btn-color-primary fs-5">
        </form>
        <div class="w-100 d-flex flex-row justify-content-between mt-2">
            <a class="fs-5" href="{% url 'login_view' %}">Already have an account?</a>
            <a class="fs-5" href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>
{% bootstrap_javascript %}
</body>
</html>