{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Home</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home-student.css' %}" rel="stylesheet">
</head>
<body class="p-4">
<div class="d-flex w-100 justify-content-between py-4 row g-0">
    <div class="d-flex flex-row align-items-center col-md-6 justify-content-between">
        <div>
            <img src="{% static 'images/Eduhub-4 2.png' %}" class="home-page-logo">
        </div>
        <div class="fs-2 fw-bold">
            Hello, {{ student_name }}
        </div>
    </div>
    <div class="d-flex flex-row align-items-center col-md-6 justify-content-end">
        <input type="button" value="Profile" onclick="location.href='/profile'"
               class="btn-color-primary btn rounded-pill px-5 py-2 me-3">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" class="btn btn-color-secondary rounded-pill px-5 py-2">
        </form>
    </div>
</div>
<hr>
<div>
    <h2 class="fs-4 fw-bold">Your Registered Courses</h2>
    <div class="registered_courses d-flex flex-row justify-content-start flex-wrap">
        {% for enrollment in enrollments %}
        {% include 'registered_course_tile.html' with enrollment=enrollment %}
        {% endfor %}
    </div>
</div>
<div>
    <h2 class="fs-4 fw-bold">Bronze Courses</h2>
    <div class="unregistered_courses d-flex flex-row justify-content-start flex-wrap">
        {% for course in bronze_courses %}
        {% include 'unregistered_course_tile.html' with course=course %}
        {% endfor %}
    </div>
</div>
<div>
    <h2 class="fs-4 fw-bold">Silver Courses</h2>
    <div class="unregistered_courses d-flex flex-row justify-content-start flex-wrap">
        {% for course in silver_courses %}
        {% include 'unregistered_course_tile.html' with course=course %}
        {% endfor %}
    </div>
</div>
<div>
    <h2 class="fs-4 fw-bold">Gold Courses</h2>
    <div class="unregistered_courses d-flex flex-row justify-content-start flex-wrap">
        {% for course in gold_courses %}
        {% include 'unregistered_course_tile.html' with course=course %}
        {% endfor %}
    </div>
</div>
{% bootstrap_javascript %}
</body>
</html>