{% extends 'base.html' %}
{% load static %}
{% block title %}
Teacher Home
{% endblock %}
{% block content %}


<div class="row justify-content-around">
    {% if not course_list %}
    <div class="col-12">
        <div class="fs-5 fw-bold background-white p-5 my-2 rounded-3 d-flex flex-row justify-content-between align-items-center d-flex flex-column">
            Welcome to our learning platform - a world of knowledge awaits your expertise!
            Share your brilliance with students worldwide by easily uploading your content as PDFs. Unleash the power of
            education and make a lasting impact.
            Get started today and be a part of shaping the future, one lesson at a time!
            <a href="{% url 'create_course' %}">
                <button class="btn rounded-pill px-5 py-1 btn-color-primary mt-3 fs-5">Start Now</button>
            </a>
        </div>
    </div>
    {% else %}
    <div class="col-4">
        <div class="fs-3 fw-bold">Your Course List</div>
        {% for course in course_list %}
        <div class="fs-5 fw-bold background-white px-4 py-2 my-2 rounded-3 d-flex flex-row justify-content-between align-items-center">
            <a href="{% url 'course_detail' course.id %}">{{ course.name }}</a>
            <img src="{% static 'images/RightArrow.png' %}" class="right-arrow">
        </div>
        {% endfor %}
    </div>
    <div class="col-4">
        <div class="background-white d-flex flex-column justify-content-center align-items-center p-5 rounded-3 fs-5 fw-bold">
            Expand your impact by creating more courses and enlightening minds from all corners of the globe. Embrace
            the joy of teaching, and let your expertise shine on our platform.
            <a href="{% url 'create_course' %}">
                <button class="btn rounded-pill px-5 py-1 btn-color-primary mt-5 fs-5">Upload More Courses</button>
            </a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
