<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Confirm</title>
</head>
<body>
    <h2>Password Reset Confirm</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">
        <label for="new_password1">New Password:</label>
        <input type="password" name="new_password1" id="new_password1">
        <br>
        <label for="new_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" id="new_password2">
        <br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
