<div class="card border-0 rounded-3 mb-3 me-3 shadow-sm" style="width: 250px; cursor: pointer;">
    <div class="card-body text-success g-0">
        <h5 class="card-title">{{ enrollment.course.name }}</h5>
        <div class="card-text">{{ enrollment.course.instructor }}</div>
        <div class="progress my-2">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{ progress_percentage}}"
                 aria-valuemin="0"
                 aria-valuemax="100">{{progress_percentage}}%
            </div>
        </div>
        {% if progress == total %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm rounded-pill btn-color-success px-3 mt-2">Download Certificate
            </button>
        </form>
        {% endif %}
    </div>
</div>
